aiohttp
aiosignal
appnope
asttokens
async-timeout
attrs
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
frozenlist
gunicorn
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
multidict
nest-asyncio
numpy
openai
packaging
pandas
parso
pexpect
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
requests
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
tqdm
traitlets
tzdata
urllib3
wcwidth
yarl
plotly